@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Noto Sans", sans-serif;
	/* background-color: #f3f8fd; */
}

header {
	background-color: white;
	border-bottom: 1px solid lightgray;
}

.header-content {
	display: flex;
	align-items: center;
	padding: 1.5rem 10px;
	max-width: 1300px;
	margin: 0 auto;
	gap: 1rem;
}

.header-logo {
	max-width: 150px;
}

.search-bar {
	flex-grow: 1;
	display: flex;
	height: 3rem;
	margin: 0 4rem;
	border-radius: 10px;
	overflow: hidden;
}

.search-bar input {
	width: 100%;
	font-family: inherit;
	font-size: 1rem;
	background-color: #eff0f5;
	border: none;
	outline: none;
	color: #2b1b19;
	padding: 1rem;
}

.search-bar button {
	border: none;
	background-color: #2b1b19;
	cursor: pointer;
	padding: 1rem;
}

.search-bar button img {
	width: 1rem;
}

.cart-link {
	height: 3rem;
	text-decoration: none;
	background-color: #2b1b19;
	color: white;
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 1rem;
	border-radius: 10px;
}

.cart-link:hover {
	text-decoration: underline;
}

.cart-link img {
	width: 1.3rem;
}

.profile-container {
	font-weight: 500;
	font-size: 1.3rem;
	color: #2b1b19;
	cursor: pointer;
	border: none;
	background-color: transparent;
	font-family: inherit;
	display: flex;
	align-items: center;
	gap: 5px;
}

.profile-name {
	font-size: 1rem;
}

.profile-rounded {
	width: 3rem;
    height: 3rem; 
	line-height: 3rem;
	text-align: center;
	display: inline-block;
	background-color: rgba(43, 27, 25, 0.7);
	border-radius: 50%;
}

main {
	max-width: 1300px;
	margin: 0 auto;
	display: flex;
	background-color: white;
}

aside {
	max-width: 300px;
	width: 100%;
	background-color: white;
	padding: 1rem;
	border-right: 1px solid lightgray;
}

.filter-container {
	display: flex;
	flex-direction: column;
	list-style: none;
}

.filter-container li {
	/* border-bottom: 1px solid lightgray; */
}

.filter-container li:nth-child(1) {
	/* border-top: 1px solid lightgray; */
}

.dropdown {
	display: flex;
	align-items: center;
	border-bottom: 1px solid lightgray;
	transition: border-bottom 0.3s ease;
}

.dropdown:hover {
	border-bottom: 1px solid #ff9e95;
}

.dropdown button {
	font-family: inherit;
	background-color: transparent;
	border: none;
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}

.category-items,
.caliber-items {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	/* display: none; */
}

.category-items label,
.caliber-items label {
	font-size: 0.875rem;
	display: flex;
	align-items: center;
	gap: 5px;
	width: 100%;
	cursor: pointer;
	padding: 8px;
	color: #323232;
}

.category-items label:hover {
	background-color: #fafafa;
}