@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Noto Sans", sans-serif;
	/* background-color: #f3f8fd; */
	min-height: 100dvh;
	height: fit-content;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

header {
	background-color: white;
	border-bottom: 1px solid lightgray;
}

.header-content {
	display: flex;
	align-items: center;
	padding: 1.5rem 10px;
	max-width: 1300px;
	margin: 0 auto;
	gap: 1rem;
}

.header-logo {
	max-width: 150px;
}

.search-bar {
	flex-grow: 1;
	display: flex;
	height: 3rem;
	margin: 0 4rem;
	border-radius: 10px;
	overflow: hidden;
}

.search-bar input {
	width: 100%;
	font-family: inherit;
	font-size: 1rem;
	background-color: #eff0f5;
	border: none;
	outline: none;
	color: #2b1b19;
	padding: 1rem;
}

.search-bar button {
	border: none;
	background-color: #2b1b19;
	cursor: pointer;
	padding: 1rem;
}

.search-bar button img {
	width: 1rem;
}

.cart-link {
	height: 3rem;
	text-decoration: none;
	background-color: #2b1b19;
	color: white;
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 1rem;
	border-radius: 10px;
}

.cart-link:hover {
	text-decoration: underline;
}

.cart-link img {
	width: 1.3rem;
}

.profile-container {
	font-weight: 500;
	font-size: 1.3rem;
	color: #2b1b19;
	cursor: pointer;
	border: none;
	background-color: transparent;
	font-family: inherit;
	display: flex;
	align-items: center;
	gap: 5px;
}

.profile-name {
	font-size: 1rem;
}

.profile-rounded {
	width: 3rem;
    height: 3rem; 
	line-height: 3rem;
	text-align: center;
	display: inline-block;
	background-color: rgba(43, 27, 25, 0.7);
	border-radius: 50%;
}

main {
	flex: 1;
	height: 100%;
	display: flex;
	max-width: 1300px;
	margin: 0 auto;
	margin-top: 1rem;
	color: #2b1b19;
	gap: 2rem;
	padding: 0 1rem;
	max-height: 620px;
}

.product-img-container {
	max-width: 500px;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
}

.product-img-container,
.product-info-container {
	padding: 1rem;
}

.main-img {	
	flex: 1;
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.other-images-container {
	display: flex;
	justify-content: space-between;
}

.other-images-container button {
	flex: 1;
	cursor: pointer;
	border: 2px solid transparent;
	background-color: transparent;
	transition: border 0.3s ease;
}

.other-images-container button:hover {
	border: 2px solid #ff9e95;
}

.other-images-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.product-info-container {
	display: flex;
	flex-direction: column;
	border: 1px solid lightgray;
	padding: 2rem;
	overflow: auto;
}

h1 {
	font-size: 1.25rem;
}

.stars-sold-container {
	display: flex;
	gap: 1rem;
	margin: 8px 0;
}

.stars-container img {
	width: 1rem;
}

.price {
	display: inline-block;
	background-color: #f0f0f0;
	background-color: rgba(43, 27, 25, 0.15);
	padding: 1rem;
	border-radius: 10px;
	font-weight: 500;
	/* color: #ff9e95; */
	font-size: 1.2rem;
}

.description {
	color: #686868;
	font-weight: 400;
	line-height: 1.8rem;
	margin: 2rem 0 1rem 0;
}

.product-control-container {
	margin-top: auto;
	display: flex;
	align-items: center;
	gap: 1rem;
	border-top: 1px solid lightgray;
	padding-top: 2rem;
}

.quantity-container {
	display: flex;
	width: fit-content;
}

.quantity-container button,
.quantity-container input {
	padding: 1rem;
	cursor: pointer;
	background-color: transparent;
	border: 1px solid lightgray;
}

.quantity-container button {
	/* font-family: inherit; */
	font-size: 1.5rem;
	color: #2b1b19;
}

.quantity-container input {
	border-right: none;
	border-left: none;
	/* pointer-events: none; */
	font-family: inherit;
	text-align: center;
	/* color: #; */
	font-size: 1rem;
	font-weight: 500;
	pointer-events: none;
	width: 60px;
}

.add-to-cart {
	display: flex;
	align-items: center;
	padding: 1rem 3rem;
	background-color: transparent;
	border: 1px solid #2b1b19;
	color: #2b1b19;
	font-family: inherit;
	cursor: pointer;
	background-color: rgba(43, 27, 25, 0.15);
	font-size: 1rem;
	font-weight: 500;
	transition: background-color 0.3s ease;
	/* border-radius: 10px; */
}

.add-to-cart:hover {
	background-color: rgba(43, 27, 25, 0.2);
}